<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="landing.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <a href="landing.html">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/AIIMS_New_Delhi.png" alt="Home" width="64">
        </a>
        <div class="navsec1">
            <h1>AIIMS OMICS TOOLBOX</h1>
        </div>
        <div class="navsec2">
            <img src="https://cmie-aiims.in/wp-content/uploads/2022/04/ccrf-logo.jpg" alt="India" width="64">
        </div>    
    </nav>
    {{{body}}}
    <footer>
        <div class="footer">
            <div class="footersec1">
                <h2>AIIMS OMICS TOOLBOX</h2>
                <p>AIIMS, New Delhi</p>
                <p>India</p>
            </div>
            <div class="footersec2">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="landing.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footersec3">
                <h2>Follow Us</h2>
                <ul>
                    <li><a href="https://www.facebook.com/aiimsnewdelhi" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/aiims_newdelhi" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/aiims_newdelhi/" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
</body>
</html>